#category-title > ul > li > a {
  display: block;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
  background: url(http://www.zuyushop.com/wap/images/arrow1.gif) right center no-repeat;
  background-color: #ededed;
  border-bottom: 1px solid #ccc;
}
#category-title > ul > li > ul {
  display: none;
}
#category-title > ul > li > ul li {
  float: left;
  width: 33.333%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#category-title > ul > li > ul li a {
  color: #333;
  display: block;
}
